* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
}

button {
  padding: 1rem;
  font-size: 1.3rem;

}

.selected {
  background: black;
  color: white;
}

.App {
  margin: 0 auto;
}

.ul {
    padding: 20px;
    margin-left: 16px;
    margin-top: 50px;
}

li {
  margin-bottom: 12px;
}